@import-normalize;

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --head-color: #0a5440;
  --background-color: #ededed;
}

.container {
  max-width: 800px;
  margin: 0.5rem auto;
}

a {
  color: inherit;
  text-decoration: none;
}